<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/landmarks/<%= @landmark.id%>" method="post">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <p>Edit Landmark:</p><br>
      <p>Name: <input type="text" name="landmark[name]" id="landmark_name" value="<%= @landmark.name %>"></p>
      <p>Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="<%= @landmark.year_completed %>"></p><input type="submit" id="Edit Landmark" value="Edit Landmark">
    </form>
  </body>
</html>
