<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Landmarks</h1>
      <ul>
      <% @landmarks.each do |landmark| %>
        <li><h2><%= landmark.name %></h2></li>
        <li><h2><%= landmark.year_completed %></h2></li>
        <% end %>
      </ul>
      </body>
</html>
